:root{
    --primary-color: #FFFFFF;
    --secundary-color: #FF0000;
}
body{
    height: 100vh;
    background-color: var(--primary-color);
    padding: 70px;
    font-family: inter, sans-serif;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    align-items:flex-start;
    gap: 70px;
    height: 116px;
    width: 47px;

}
header span {
    font-size: 20px;
    color: var(--primary-color);
    cursor: pointer;
}
.fundo{
   margin: 0;
   padding: 0;
   height: 100vh;
   width: 100vw;
   z-index: -1;
   position: fixed;
   inset: 0;

   box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);


}
.marvel{
    height: 46px;
    width: 106px;
}
main{
    font-size: 43px;
    color: var(--primary-color);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.descricao{
    font-size: 20px;
    
}
p{
    margin-top: 80px;
    width: 380px;
    text-align: start;
    line-height: 1.5;
}
a{
    margin-top: 150px;
    width: 225px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secundary-color);
    color: white;
    font-size: 32px;
    flex-direction: column;
}
.bottom{
    padding-left: 30px;
    cursor: pointer;
}
@media (max-width: 768px) {
    .fundo{
        margin: 0;
        padding: 0;
        height: 95vh;
        width: 100vw;
        z-index: -1;
        display: flex;
        padding-top: 215px;
        


        
     }
    body{
        padding: 0;
        background: linear-gradient(to bottom right, #3f0d0c, #0a0e2a, #016a7f);
    }
    .marvel{
        height: 36px;
        width: 80px;
        
    }
    header{
    display: flex;
    align-items:flex-start;
    align-self: flex-start;
    gap: 70px;
    height: 116px;
    width: 20px;
    padding: 18px;
        
    }
    header span{
        font-size: 16px;
        padding-top: 6px;
    }
    main h1 {
        font-size: 42px;
        display: flex;
        padding: 70px;
        position: relative;
        top: -80px;
    
    }
    .descricao{
        font-size: 14px;
        display: flex;
        align-self: flex-end;
        padding: 60px;
        margin-top: -375px;
                
    }
    .bottom{
        justify-items: center;
        margin-top: 460px;
    
    }
    a{
        width: 500px;
        
    }
}


   


